<div class="card">
  <h3 class="card-header">Sign in page</h3>
  <div class="card-body">
    <div class="row">
      <div class="col"></div>

      <div class="col">
        <form [formGroup]="form" (submit)="onLogIn()">
          <div class="form-group">
            <label for="username">ชื่อผู้ใช้:</label>
            <input type="text" class="form-control" id="username" formControlName="username" />
            <div [appValidation]="form.get('username')"></div>
          </div>

          <div class="form-group">
            <label for="password">รหัสผ่าน:</label>
            <input type="password" class="form-control" id="password" formControlName="password" />
            <div [appValidation]="form.get('password')"></div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-warning btn-block" *ngIf="!isLoggingIn else btnLoading">
              เข้าสู่ระบบ
            </button>
          </div>

          <div class="form-group text-center">
            <span>ยังไม่มีบัญชีผู้ใช้? </span>
            <a routerLink="/sign-up">สมัครสมาชิก</a>
          </div>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>

<ng-template #btnLoading>
  <button type="submit" class="btn btn-warning btn-block" disabled>
    กำลังเข้าสู่ระบบ...
  </button>
</ng-template>
