<div class="card">
  <h3 class="card-header">
    Home page
  </h3>
  <div class="card-body">
    <h1>Basic HTTP Client</h1>
    <p>เรียนรู้เรื่องของ HttpClient</p>
    <hr />
    <div class="form-group">
      <h5>รายการข้อมูลอัลบั้ม</h5>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>User ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let album of albums">
          <td>{{ album.id }}</td>
          <td>{{ album.title }}</td>
          <td>{{ album.userId }}</td>
        </tr>
      </tbody>
    </table>

    <h1>หน้าหลัก</h1>
    <div class="row">
      <div class="col">
        <app-comp1>
          <h3>App Component 1</h3>
        </app-comp1>
      </div>
      <div class="col">
        <app-comp2>
          App Component 2
        </app-comp2>
      </div>
    </div>
  </div>
</div>
