<div class="card">
  <h3 class="card-header">Profile page</h3>
  <div class="card-body">
    <table *ngIf="user?.id" class="mt-4 mb-4">
      <tr>
        <th class="text-right">User ID</th>
        <td>:</td>
        <td>{{ user.id }}</td>
      </tr>
      <tr>
        <th class="text-right">First Name</th>
        <td>:</td>
        <td>{{ user.firstName }}</td>
      </tr>
      <tr>
        <th class="text-right">Last Name</th>
        <td>:</td>
        <td>{{ user.lastName }}</td>
      </tr>
      <tr>
        <th class="text-right">Username</th>
        <td>:</td>
        <td>{{ user.username }}</td>
      </tr>
      <tr>
        <th class="text-right">Password</th>
        <td>:</td>
        <td>{{ user.password }}</td>
      </tr>
      <tr>
        <th class="text-right">Action</th>
        <td>:</td>
        <td>
          <button
            class="btn btn-sm btn-block btn-danger"
            (click)="onLogOut()"
            *ngIf="!isLoggingOut; else btnLoggingOut"
          >
            Log Out
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>

<ng-template #btnLoggingOut>
  <button class="btn btn-sm btn-block btn-danger" (click)="onLogOut()" disabled>
    Loadding...
  </button>
</ng-template>
