<div class="card">
  <h3 class="card-header">
    Data Page
  </h3>
  <div class="card-body">
    <h3 class="text-primary">ยินดีต้อนรับเข้าสู่หน้าจัดการสมาชิก</h3>
    <div *ngIf="beautifiedUsers !== '[]' && beautifiedUsers !== ''" class="form-group">
      <div class="form-group">
        <label for="user-info">ข้อมูลสมาชิกทั้งหมด: </label>
        <textarea
          id="user-info"
          class="form-control"
          disabled
          [value]="beautifiedUsers"
          rows="7"
        ></textarea>
      </div>
    </div>
  </div>
</div>
