<div class="card">
  <h3 class="card-header">Sign up page</h3>
  <div class="card-body">
    <div class="row">
      <div class="col-3"></div>

      <div class="col-6">
        <form (submit)="onRegister()" [formGroup]="form">
          <h4>สมัครสมาชิก</h4>
          <hr />
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="first-name">ชื่อ: </label>
                <input
                  id="first-name"
                  type="text"
                  class="form-control"
                  formControlName="firstName"
                />
                <div [appValidation]="form.get('firstName')"></div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="last-name">นามสกุล: </label>
                <input
                  id="last-name"
                  type="text"
                  class="form-control"
                  formControlName="lastName"
                />
                <div [appValidation]="form.get('lastName')"></div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="username">ชื่อผู้ใช้: </label>
                <input
                  id="username"
                  type="text"
                  class="form-control"
                  formControlName="username"
                />
                <div [appValidation]="form.get('username')"></div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="password">รหัสผ่าน: </label>
                <input
                  id="password"
                  type="password"
                  class="form-control"
                  formControlName="password"
                />
                <div [appValidation]="form.get('password')"></div>
              </div>
            </div>
          </div>

          <div class="form-group form-check">
            <input
              type="checkbox"
              id="confirm"
              class="form-check-input"
              formControlName="isConfirmed"
            />
            <label for="confirm">ยืนยันการสมัครสมาชิก</label>
          </div>
          <hr />

          <div class="form-group">
            <button
              *ngIf="!isLoading; else btnLoading"
              type="submit"
              class="btn-warning btn btn-block"
              [disabled]="!form.value.isConfirmed"
            >
              สมัครสมาชิก
            </button>
          </div>

          <div class="form-group text-center">
            <span>มีบัญชีผู้ใช้แล้ว? </span>
            <a routerLink="/sign-in"><u>เข้าสู่ระบบ</u></a>
          </div>
        </form>
      </div>

      <div class="col-3"></div>
    </div>
  </div>
</div>

<ng-template #btnLoading>
  <button type="submit" class="btn-warning btn btn-block" disabled>
    กำลังโหลด...
  </button>
</ng-template>
