h3 {
  text-decoration: underline;
}

body {
  background-color: #EEEEEE;
}

.form-control.ng-touched.ng-invalid,
.form-control.ng-dirty.ng-invalid {
  border-color: #dc3545;
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  }
}

.form-check-input.ng-invalid.ng-dirty ~ .form-check-label,
.form-check-input.ng-invalid.ng-touched ~ .form-check-label {
  color: #dc3545;
}

.form-control.ng-touched.ng-invalid ~ .invalid-feedback,
.form-control.ng-dirty.ng-invalid ~ .invalid-feedback {
  display: block;
}
